/* Projects.css */
.projects-section {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f8f8f8;
  }
  
  .title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'titleFont', sans-serif;
    margin-bottom: 14px;
  }
  
  .title-text {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
  }
  
  .title-description {
    font-size: 32px;
    font-weight: bold;
    text-transform: capitalize;
    color: #00df9a;
  }
  
  .projects-card {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #fff, #202327);
    transition: background 0.5s, transform 0.3s;
    cursor: pointer;
  }
  
  .projects-card:hover {
    background: linear-gradient(to bottom, #202327, #202327);
    transform: scale(1.03);
  }
  
  .project-image {
    overflow: hidden;
    border-radius: 10px;
  }
  
  .project-image-inner {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    transform-origin: center;
    transition: transform 0.3s;
  }
  
  .projects-card:hover .project-image-inner {
    transform: scale(1.1);
  }
  
  .project-details {
    padding: 20px;
  }
  
  .project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .project-title-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  
  .project-title-text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    color: #00df9a;
  }
  
  .project-icons {
    display: flex;
    gap: 10px;
  }
  
  .project-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #777;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .project-icon:hover {
    color: #00df9a;
  }
  
  .project-description {
    font-size: 14px;
    color: #ccc;
    line-height: 1.4;
  }
  