/* Services.css */
.services-header {
    background-color: #fff;
    padding: 80px 0;
  }
  
  .services-header-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
    align-items: center;
  }
  
  .services-image {
    width: 500px;
    margin: auto;
    margin-bottom: 40px;
  }
  
  .services-content {
    flex: 1;
    padding: 20px;
  }
  
  .services-tagline {
    color: #00df9a;
    font-weight: bold;
  }
  
  .services-title {
    font-size: 32px;
    font-weight: bold;
    text-transform: capitalize;
    color: #00df9a;
    margin: 20px 0;
  }
  
  .services-button {
    background-color: #002244;
    color: #00df9a;
    width: 200px;
    border-radius: 4px;
    font-weight: medium;
    margin: 20px auto;
    padding: 10px 20px;
  }
  
  /* Cards Section */
  .services-cards {
    background-color: #fff;
    padding: 100px 0;
  }
  
  .services-cards-inner {
    max-width: 1240px;
    margin: 0 auto;
  }
  
  .services-section-title {
    font-size: 24px;
    font-weight: bold;
    color: #00df9a;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .services-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .services-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  
  .services-card:hover {
    transform: scale(1.05);
  }
  
  .services-card-alt {
    background-color: #f8f8f8;
  }
  
  .services-card-icon {
    width: 80px;
    margin: -30px auto 20px auto;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
  }
  
  .services-card-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
  }
  
  .services-card-description {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
  }
  
  .services-card-features {
    text-align: center;
    font-weight: medium;
    margin-top: 20px;
  }
  
  .services-card-feature {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .services-card-button {
    background-color: #00df9a;
    color: #fff;
    width: 200px;
    border-radius: 4px;
    font-weight: medium;
    margin: 20px auto;
    padding: 10px 20px;
  }
  
  .services-card-button-alt {
    background-color: #002244;
    color: #00df9a;
  }
  